{% extends "_base.html" %}

{% block title %}Reviews{% endblock %}
{% block header %}Reviews{% endblock %}

{% block main %}
  <a class="btn btn-success btn-sm float-end" href="{% url 'pages:review-create' %}">
    + New Review
  </a>
  <h2>Reviews</h2>
  <ul class="list-group list-group-flush mb-3">
    {% for review in review_list %}
      <li class="list-group-item d-flex justify-content-between">
        <a href="{% url 'pages:review-detail' review.slug %}">{{ review.title }}</a>
        <span>
          <a class="btn btn-info btn-sm"  href="{% url 'pages:review-update' review.slug %}">Update</a>
          <a class="btn btn-danger btn-sm" href="{% url 'pages:review-delete' review.slug %}">Delete</a>
        </span>
      </li>
    {% empty %}
      <li class="list-group-item">No reviews yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
